/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-nov-2017, 13:52:11
    Author     : Estela
*/


section{
    margin:5%;
}

#menu{
    display:none;
}

#color{
    background: #311b92;
}

.lletragran{
    font-size: 16px !important;
}

.marge{
    margin-left: 5%;
}

.margeAll{
    margin: 3% !important;
    padding: 1% !important;
}

.bottomMargin{
    margin-bottom: 5%;
}

.fondoOscur{
    background: #346473;
}

.fondo{
background-image: linear-gradient(top, #c9d4d6 0%, #d6e6d9 50%, #d6e6d9 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c9d4d6), color-stop(0.5, #d6e6d9), color-stop(1, #d6e6d9));
background-image: -moz-linear-gradient(top, #c9d4d6 0%, #d6e6d9 50%, #d6e6d9 100%);
background-image: -o-linear-gradient(top, #c9d4d6 0%, #d6e6d9 50%, #d6e6d9 100%);
background-image: -ms-linear-gradient(top, #c9d4d6 0%, #d6e6d9 50%, #d6e6d9 100%);
}

.rodo{
    border-radius: 5px;
}

.paddingALL{
    padding: 6px !important;
}

