/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-nov-2017, 13:52:11
    Author     : Estela
*/

/*html{
   font-family: 'Roboto', sans-serif !important;
}
body{
 font-family: 'Roboto', sans-serif !important;    
}*/
section{
    margin:5%;
}

#menu{
    display:none;
}

#color{
    background: #311b92;
}

.lletragran{
    font-size: 16px !important;
}
.lletraTitol{
    font-size: 22px;
}

.marge{
    margin-left: 5%;
}

.margeAll{
    margin: 3% !important;
    padding: 1% !important;
}

.bottomMargin{
    margin-bottom: 5%;
}

.fondoOscur{
    background: #346473;
}

.fondo{
background-image: linear-gradient(top, #c9d4d6 0%, #d6e6d9 50%, #d6e6d9 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c9d4d6), color-stop(0.5, #d6e6d9), color-stop(1, #d6e6d9));
background-image: -moz-linear-gradient(top, #c9d4d6 0%, #d6e6d9 50%, #d6e6d9 100%);
background-image: -o-linear-gradient(top, #c9d4d6 0%, #d6e6d9 50%, #d6e6d9 100%);
background-image: -ms-linear-gradient(top, #c9d4d6 0%, #d6e6d9 50%, #d6e6d9 100%);
}

.rodo{
    border-radius: 5px;
}

.paddingALL{
    padding-bottom: 6px !important;
}

.espais{
    margin-top: 5%;
}

.colorBoto{
    background: #ad1457 !important;
}

.marginBaix{
    margin-bottom: 5%;
}
.marginBaixPlus{
   margin-bottom: 10%; 
}

.bodyColor{
    background: #e8eaf6;
}
.titolCheck{
    
    background: #311b92 ;
    color: #d1c4e9;
    
    -webkit-box-shadow: -1px 11px 22px -4px rgba(122,115,122,1);
-moz-box-shadow: -1px 11px 22px -4px rgba(122,115,122,1);
box-shadow: -1px 11px 22px -4px rgba(122,115,122,1);   
}
.titolCheck h1 {
    font-family: 'Roboto', sans-serif !important; 
    font-weight: bold;
   font-size: 32px !important;
   padding: 1%;
   
}

.lletra{
   font-family: 'Roboto', sans-serif !important;  
}
.lletraForm{
    color:#3f51b5;
}
.sombra{
      -webkit-box-shadow: -1px 11px 22px -4px rgba(122,115,122,1);
-moz-box-shadow: -1px 11px 22px -4px rgba(122,115,122,1);
box-shadow: -1px 11px 22px -4px rgba(122,115,122,1);    
}

select{
    background: white;  
}
option{
   background: white;  
}
option:hover{
    background:#3f51b5;
    color:#d1c4e9;
}

